body{
    background-color: aqua;
}

h1{
    color: navy;
    margin-left: 20px;
}

.center{
    display: grid;
    place-items: center;
    background-color: red;
}

p{
    font-weight: 800;
    letter-spacing: 2px;
}

img{
    width: 250px;
    margin: auto;
}